#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the diabetes dataset
diabetes_data = pd.read_csv("/content/pima-indians-diabetes.data", header=None)

#### 2: Analyze the dataset

In [3]:
#View the first five observations of the dataset
diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [4]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [5]:
#Use the feature names set earlier and fix it as the column headers of the dataset
diabetes_data = pd.read_csv("/content/pima-indians-diabetes.data",header = None,names = feature_names)

In [6]:
#Verify if the dataset is updated with the new headers
diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [7]:
#View the number of observations and features of the dataset
diabetes_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [8]:
#Select features from the dataset to create the model
features_select = ['Pregnant','insulin','bmi','age']

In [9]:
#Create the feature object
x_feature = diabetes_data[features_select]

In [10]:
#Create the reponse object
y_target = diabetes_data['label']

In [11]:
#View the shape of the feature object
x_feature.shape

(768, 4)

In [12]:
#View the shape of the target object
y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [13]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_feature,y_target,random_state = 1)

#### 6: Create a model  to predict the diabetes outcome

In [15]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
#Make predictions using the testing set
y_pred = logreg.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0])

#### 7: Check the accuracy of the model

In [19]:
#Evaluate the accuracy of your model
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6927083333333334

In [21]:
#Print the first 30 actual and predicted responses
print('actual :  ',y_test.values[0:30])
print('predicted:',y_pred[0:30])

actual :   [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predicted: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]